# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
catex.egg-info/
doc/_build
doc/_sphinx_gen
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage
.coverage.*
htmlcov
coverage.xml*
bats-core/
shellcheck*
check_shellcheck*
test_spm.vocab
test_spm.model
.vscode*
*.vim
*.swp
*.nfs*
*.code-workspace
*.so

# recipe related
recipes/*/*/data*
recipes/*/*/db
recipes/*/*/downloads
recipes/*/*/dump
recipes/*/*/enhan
recipes/*/*/exp
recipes/*/*/fbank
recipes/*/*/mfcc
recipes/*/*/stft
recipes/*/*/tensorboard
recipes/*/*/wav*
recipes/*/*/nltk*
recipes/*/*/.cache*


#ctc_crf related
catex/asr/crf/ctc_crf/build
catex/asr/crf/ctc_crf/ctc_crf.egg-info
catex/asr/crf/ctc_crf/dist
catex/asr/crf/ctc_crf/*/build
catex/asr/crf/ctc_crf/openfst
catex/asr/crf/ctc_crf/pytorchbinding

# tools related
tools/bin
tools/include
tools/lib
tools/lib64
tools/bats-core
tools/activate_python.sh
tools/moses/
tools/mwerSegmenter/
tools/nkf/
tools/venv/
tools/sentencepiece/
tools/swig/
tools/warp-ctc/
tools/warp-transducer/
tools/*.done
tools/PESQ*
tools/hts_engine_API*
tools/open_jtalk*
tools/pyopenjtalk*
tools/tdmelodic_openjtalk*
tools/s3prl
tools/sctk*
tools/sph2pipe*
tools/espeak-ng*
tools/MBROLA*
tools/festival*
tools/speech_tools*
tools/phonemizer*
tools/py3mmseg
tools/._*
tools/miniconda*
tools/kaldi*
tools/openfst*
tools/python_user_base*